# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and databases
*.log
*.sqlite3

# IDE / Editor settings
.vscode/
.idea/
*.swp

# OS-specific
.DS_Store
Thumbs.db

# dotenv environment files
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
